.login-modal {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(2px);
    padding-inline: 35%;
    padding-top:5%;
    padding-bottom:15%;
}

.login-modal {
    visibility: hidden;
}

.login-modal.active {
    visibility: visible;
}

.login-form {
    background-color: pink;
    width: 100%;
    height: 100%;
    display: flex;
    padding-inline: 5rem;
    padding-top:3rem;
    padding-bottom:6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.login-form > div {
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form .button-row {
    flex-direction: row;
    gap: 0.5rem;
}

.login-form .form-example input:valid:not(:placeholder-shown) {
    border: 2px solid green;
}


.login-form .form-example input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}