*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 5rem;
    width: 100%;
    background-color: green;
}

main {
    background-color: aquamarine;
    flex:1;
}
